[2019-07-17 09:09] hidde opened #1 "Create requirements analysis"

[2019-08-02 14:09] hidde opened #2 "Name of tool: should we a different word than “authoring tools”?"
In conversations over the past months, I found “authoring tool” is not a well known concept outside the world of W3C and accessibility standards. My hypothesis is that many who procures/use/build authoring tools know these tools by a different name.

Additionally, “authoring tool list” is a long title, and its abbreviation (AT list) would be very confusing, because it will make accessibility peopl

[2019-08-02 14:12] hidde commented on #2
Suggestions from EO call:

* Editing Tools List
* Content Creation Tools List
* CMS & Publishing Tools List

[2019-08-08 08:32] hidde opened #3 "Including data existing ATAG criteria"
During EO WG review of the [Requirements Analysis: Authoring Tools List · w3c/wai-authoring-tools Wiki](https://github.com/w3c/wai-authoring-tools/wiki/Requirements-Analysis:-Authoring-Tools-List), we discussed whether we should have only vetting questions that are directly in ATAG, or also others.

[2019-08-08 08:40] hidde commented on #3
Suggestions from EO WG meeting:

* Does authoring tool use AI to attempt fixing accessibility barriers?
* Is this authoring tool free or paid?

[2019-08-08 08:44] hidde opened #4 "Scope: which types of authoring tools do we include?"
There are a lot of different authoring tools, as [Defining authoring tools · w3c/wai-authoring-tools Wiki](https://github.com/w3c/wai-authoring-tools/wiki/Defining-authoring-tools) shows.

We should decide which of these are in scope for the Authoring Tools List.

[2019-08-08 08:46] hidde commented on #4
@yatil suggested in [EO call](https://www.w3.org/2019/08/02-eo-minutes.html):

[2019-08-08 08:56] hidde commented on #3
In the [2 August EO call](https://www.w3.org/2019/08/02-eo-minutes.html) @slhenry  said:

I agree and would propose we add any questions we find relevant.

I'd say the criterion for a question should be ”we expect it will be helpful for users as a filter for authoring tools”.

[2019-08-08 09:08] daniel-montalvo commented on #2
In [Minutes for August 2nd Teleconference](https://www.w3.org/2019/08/02-eo-minutes#authoring-tools-list-requirements) there are a couple of suggestions made by Helen:

Let me add some more:
* Editing Tool (possibly added by Shawn, not sure).
* Publishing Tool.
* Content Creation Tool.

[2019-08-08 09:15] hidde opened #5 "How can we let people give feedback on tool submissions?"
Authoring tool submissions can be submitted by anyone, and the submitter will answer the vetting questions.

I anticipate that in some cases, people disagree about how one or more vetting questions are answered. For example, submitter may say “My CMS is perfectly usable with keyboard only”, someone else might know that the sidebar really requires a mouse.

We want to welcome this kind of feedback

[2019-08-08 09:19] hidde commented on #5
After the [discussion on 2 August](https://www.w3.org/2019/08/02-eo-minutes.html) my suggestion would be that each listing has a link to report, which simply links to [issues/new](https://github.com/w3c/wai-authoring-tools/issues/new) in this repo, where we supply an [issue template](https://help.github.com/en/articles/creating-issue-templates-for-your-repository) for reporting a problem with an a

[2019-08-08 13:07] hidde commented on #2
Thanks @daniel-montalvo for the additions!

As I mentioned above, I think discoverability is essential, so one thing we need to keep top of mind is: “what would people search for?”

[2019-08-08 14:01] hidde opened #6 "Use submitter-indictated top 5 of accessibility features"
If we have all of ATAG available as filters, that is way too much to display in a specific authoring tool's preview card. Maybe the submitter can indicate which 5 features are most important?

[2019-08-08 23:22] eoncins commented on #4
To me leaving social media out it may depend on how important is the content creation compared to the design and development.

Under Purpose>Page it states "Introduce people to authoring tool accessibility" to me people is "general public" not "experts", but then as target audience mention is only made to "experts": designers, developers, procurers, content editors, accessibility auditors, QA test

[2019-08-08 23:28] eoncins commented on #2
Would the use of a different term not interfere with ATAG (Authoring Tool Accessibility Guidelines)?
The problem might be in using the acronym "AT" not the term "Authoring Tool".

[2019-08-08 23:38] eoncins commented on #3
One of the problems raised in the meeting regarding the vetting questions was the need for a review. If a review is provided to a vetting question then I agree.

[2019-08-08 23:49] eoncins commented on #5
+1 to use an issue template for reporting a problem with an authoring tool.
One of the issues raised in the meeting was the need for feedback in these cases. In the case that an issue is reported then a feedback will be needed.

[2019-08-11 17:50] yatil commented on #4
I think we must be careful to not have a too broad scope: Adding social media networks to the list might drown out the CMS vendors. I also think that most people won’t pick a social network by the accessibility of that network but considering if their audience is at that network. Accessibility aware organizations have worked around missing features in those cases. For example before alt text was a

[2019-08-11 17:54] yatil commented on #4
As for the audience, I think seeing the list can have an effect on everyone, but it will be mostly useful to the specified audience groups.

[2019-08-12 18:40] hidde commented on #4
@yatil: thanks, I really like “would be a product for which people would want to filter for accessibility features”, “no workarounds available” as criteria for whether to include in the scope, in addition to “self-hosted/hosted tools to publish web content”.

For me, that would mean, these are included:

* CMS
* courseware
* website creators

These excluded:

* social media
* “Save as HTML”

That

[2019-08-13 07:57] yatil commented on #4
I think wikis and forum software would be good to have in there, WYSIWYG and templates might be too specific and “cluttering” the tool.

[2019-08-14 08:48] hidde opened #7 "Define JSON schema for authoring tool"
This is a [reference](https://json-schema.org) of what an authoring tool looks like in JSON, so that we know what JSON we produce (“Add your tool” page) and consume (“View tools” page) should look like.

[2019-08-14 12:50] hidde commented on #6
Dismissing this, because it makes comparing harder.

[2019-08-14 12:50] #6 closed

[2019-08-15 18:08] slhenry commented on #2
Yeah, this is a challenge. Naming resources can be difficult.

Probably we'll want to go with

or

For example:
* [WCAG-EM Report Tool: Website Accessibility Evaluation Report Generator](https://www.w3.org/WAI/eval/report-tool/#/)
* [Web Accessibility Perspectives: Explore the Impact and Benefits for Everyone](https://www.w3.org/WAI/perspective-videos/)
* [Developing Websites for Older People: How

[2019-08-15 18:09] slhenry commented on #2
I *think* most of the tools listed will not be fully accessible, therefore, I think can't go with simply "“accessible CMS”"

[2019-08-15 18:10] slhenry commented on #2
I think it would be good to try to get "Authoring Tool" in at least the long title or sub-title.

Possibly something like:

[2019-08-15 18:12] slhenry commented on #2
In case it helps with brainstorming:

* [definition of authoring tool](https://www.w3.org/TR/ATAG20/#def-Authoring-Tool)
* [ATAG Overview](https://www.w3.org/WAI/standards-guidelines/atag/)

[2019-08-15 18:18] slhenry commented on #3
/me suggests changing "vetting" in this title.

Vetting to me means we will evaluate the statements, and I don't think we will.

I think it's:
"Including data beyond existing ATAG criteria"

[2019-08-15 19:45] shawna-slh opened #8 "Add comparison view"
I think some people would like a comparison view of tools -- that is, see data for multiple tools in a table, e.g., http://kensgists.github.io/apt/

/me was recently comparing laptops and used that a lot.

Ideally probably we let people select tools that they want to compare.

Not sure we'll be able to get that in first release. At least I think we want it on a wish-list for later. ;-)

[2019-08-16 10:54] hidde commented on #3
You are right, we definitely will not evaluate the statements. Have changed to “self-vetting” to clarify.

[2019-08-16 10:55] hidde commented on #8
Great idea, +1 for putting in not the first release

[2019-09-25 09:59] hidde commented on #4
Sounds good to me, have added wikis and forum software to latest version.

[2019-09-25 10:26] HelenBurge commented on #4
I think social media should be included as we are assuming the audience of this work will be organisations.  I am aware of a lot of users of social media using the sites to host their business pages as the main templates and structure are easy to use compared to a CMS.  I think adding in social media as an option is worthwhile as a different option from a more complex WordPress.

From my experienc

[2019-09-25 11:27] eoncins commented on #8
+1 to visual comparison in a further release if not possible in the first

[2019-09-25 14:58] hidde opened #9 "Indicate progress in ‘Submit tool’ process"

[2019-09-25 14:59] hidde opened #10 "Explain to tool submitter how information is displayed in front-end"
For example, when explaining what “Partial support” means in the context of their tool, explain that the information/context they provide will be displayed in the tools list.

[2019-10-03 08:20] yatil commented on #4
If we want to have Social media highlighted in this way, we should have a second resource for them. I see this resource more for projects that are operated by the people using the tool instead of being operated by a 3rd party.

Basically: Can you make substantial changes to the software or its output yourself, then it is a candidate for this specific list.

[2019-10-03 08:25] yatil commented on #2
I started two twitter polls to see what people not in the inner circle think:

* https://twitter.com/yatil/status/1179673332309987328
* https://twitter.com/yatil/status/1179673499897651200

[2019-10-03 08:56] HelenBurge commented on #4
You create the page title, content, images (weirdly no alt tags for cover photos), change the template, add items like buttons with embedded links. So the branding of say "Facebook" will never disappear, the main content is decided by you like a WordPress created site using templates.

[2019-10-03 09:07] yatil commented on #4
Yes, but I cannot change to a more accessible Twitter template or Facebook template. I think there is a difference and putting all into one tool will make it harder to create and maintain filters. I’m all for adding social media at some point in some form, but I think we need to scope this narrowly first to be effective.

[2019-10-03 11:55] hidde commented on #2
Thanks, Eric!

[2019-10-04 07:59] yatil commented on #2
So from my followers (skewed _towards_ accessibility, standards, and development):

* [Do you think you know what an “Authoring Tool” is?](https://twitter.com/yatil/status/1179673332309987328)
  * Yes: 52%
  * No: 48%
  * Votes: 50

* [Have you ever searched online for an “Authoring Tool”?](https://twitter.com/yatil/status/1179673499897651200)
  * Yes: 18%
  * No: 82%
  * Votes: 34

While being on

[2019-10-07 08:46] hidde commented on #4
I agree with @HelenBurge that it would be useful to provide information to people who use social media, as it is a lot and becoming more and more common to be used by small businesses instead of a “real” website.

But I think, like @yatil, that this category is so different from the other tools that it warrants its own resource and would like us to leave it out of scope for he first iteration of t

[2019-10-09 10:30] hidde opened #11 "Improve tool listing hierarchy: downplay version, released, submitted"
(Suggested by @slhenry)

[2019-10-09 10:31] hidde opened #12 "Remove “Report an issue” functionality for V1"
As we do not a process or people in place to deal with disputes

[2019-10-09 10:34] hidde opened #13 "Improve type of tool naming"
as suggested by @slhenry

- [ ] Content Management System -> Content management system (CMS)
- [ ] Online learning platform -> Learning management system (LMS)
- [ ] Forum / discussion software -> Forum or discussion software
- [ ] Wikis -> Wiki

[2019-10-09 10:35] hidde opened #14 "List unsupported accessibility features in tool listing"
as suggested by @slhenry

[2019-10-09 10:38] hidde opened #15 "Create static version of Submit a tool form"

[2019-10-09 12:09] hidde commented on #13
I'll use Google's [Trends](https://trends.google.com/trends/) to compare online learning platform vs alternatives.

The others are stylistic, will just use those suggestions.

[2019-10-09 12:23] hidde commented on #13
[The difference between “Online learning platform”, “e-learning platform” and “learning management system” is huge](https://trends.google.com/trends/explore?q=learning%20management%20system,e-learning%20platform,online%20learning%20platform), so will use.

[2019-10-09 12:28] #13 closed

[2019-10-09 12:32] hidde opened #16 "Add type of tool and cost model to tool listing"
as suggested by @slhenry

[2019-10-09 12:41] #12 closed

[2019-10-09 18:39] hidde commented on #11
Have merged version/released to be one field. I think this is important enough to list with other details, as many authoring tools will have major versions that can differ a lot and that people don't auto-update betweeen (eg Drupal 7 vs Drupal 8).

I have completely removed “date submitted”. We'll keep track of that, but it probably is not relevant enough to show.

[2019-10-10 09:00] hidde commented on #11
Fixed in https://github.com/w3c/wai-authoring-tools/commit/03d7e50ad11897b87b7bfe4bbda308702feb7c78

[2019-10-10 09:00] #11 closed

[2019-10-10 13:34] nitedog commented on #4
I'm thinking of social media software that you can install locally within an organization, much like a wiki or CMS software product. I think these types of tools should be included, not necessarily the instances of such tools (we also speak about "wiki" not of "wikipedia", so I agree that speaking of "Facebook" or "Twitter" is not the point but maybe the software behind).

[2019-10-10 14:46] #14 closed

[2019-10-10 14:49] hidde commented on #16
addressed in https://github.com/w3c/wai-authoring-tools/commit/7087c738463f23b61afa4e6829b88ec295f8f2ed

[2019-10-10 14:49] #16 closed

[2019-10-11 12:34] slhenry commented on #4
It depends on the purpose of the list, e.g.:
* to help people pick an authoring tool to use or purchase
* to showcase accessibility status of authoring tools

[2019-10-11 13:15] slhenry commented on #2
I think a big issue is SEO. I wonder if it's important to get terms in the <h1> -- even if styled as a quiet subtitle?

[2019-10-11 18:58] hidde commented on #4
Today we discussed this issue in EOWG.

We talked about @slhenry's comment regarding purpose of the list, and agreed it is both for helping people pick tools and for showcasing accessibility status/features. We'll focus on the picking tools aspect first.

Multiple distinct uses of social media emerged:

- a (likely small) company uses Facebook to create their online presence (the social medium bec

[2019-10-14 12:54] vmmiller opened #17 "Introduction paragraph: make larger, add more description"
**Text under H1:**  could be larger or made more noticeable somehow e.g. in a summary box as displayed on some pages e.g. https://www.w3.org/WAI/fundamentals/components/

**Actual text:**  Browse tools that create web content, like CMSes and LMSes, website creators, discussion forums and other authoring tools, and filter for accessibility features.

**Suggestion - add some more description:**

Thi

[2019-10-14 12:56] vmmiller opened #18 "Make “Enough time” accessibility feature more informative"
Option:
"Enough time"
Question:  can this be expanded to be more informative

[2019-10-14 12:57] vmmiller opened #19 "Details button too large?"
It seems a trifle too large (for me) and I feel it takes away from the actual content.

[2019-10-14 12:59] vmmiller opened #20 "Make tools listing section wider"
Now that the Filters have been moved over (good use of space), I think the section on details could be expanded over one grid to the right.  There is currently too much space on the right.

[2019-10-14 13:00] vmmiller opened #21 "Is submit button too far off to the right?"
Maybe this is too far off to the right.

[2019-10-14 13:03] vmmiller opened #22 "Reminder: h1 level"
Needs to span over more grids.

[2019-10-14 13:04] vmmiller opened #23 "Name of vendor in listing too small"
Name of tool :  XYZ by xyzI
I feel the "by xyz" is too small

[2019-10-14 13:08] vmmiller opened #24 "Details box: use full name for features"
Accessibility features: (pse add a colon after features)

A lot of the bullet points have dashes in between the words.
Can these dashes be replaced with spaces?

[2019-10-14 13:10] vmmiller opened #25 "Details box: table with information about cost, license etc."
The display of this table is inconsistent because if the Accessibility statement contains a (long) url, the other columns wrap which then skews the table display.

[2019-10-14 14:17] hidde opened #26 "Add all accessibility features as filters"

[2019-10-14 14:18] hidde opened #27 "Provide more realistic data"
* For the “Stripmetics” tool entry, please add all 23 of the accessibility features in the details area, along with several comments. So we can see how long it could actually be.
* For the “Setuphub” tool entry, please list only two accessibility features in the details area.
* For the “Currce” tool entry, please list around 10-12 accessibility features to the details area.

[2019-10-14 14:23] hidde opened #28 "Use lorem ipsum instead of corporate ipsum"
The fake tools description paragraphs need to be either completely Latin (lorum Ipsum), or they need to be more closely match to what the real descriptions might be like. Describing what a particular authoring tool is for and what it does. Even though this is fake data, it is hard to evaluate what it will look like with the current frivolous content.

[2019-10-14 14:29] #10 closed

[2019-10-14 17:47] #26 closed

[2019-10-14 17:47] hidde commented on #26
Filters now come directly from JSON.

[2019-10-15 08:55] hidde opened #29 "Add ATAG success criteria to “Submit a tool”"
cc @nitedog

[2019-10-15 11:59] hidde commented on #25
Thanks, and agreed, have updated this so that the link text is no longer the URL (which is likely to be long), but  the name of the tool.

[2019-10-15 11:59] #25 closed

[2019-10-15 12:01] hidde commented on #24
This is for technical reasons, what we're displaying here is the technical “id”.

I will start using full names, and leave this issue open until I've addressed that.

[2019-10-15 12:02] hidde commented on #23
Thanks for the feedback, I've slightly updated the issue title.

[2019-10-15 12:03] hidde commented on #22
Thanks, and agreed, have adjust this to span over the full grid in all viewports. It now only breaks into two lines on some small-ish viewports.

[2019-10-15 12:03] #22 closed

[2019-10-15 12:08] hidde commented on #21
I think it is good to use right alignment for some of our actions, including the 'Submit a tool' button.  It reinforces the grid and leaves the action visually distinct from the introductory paragraph (by not being close to it).

If it is less to the right it would not align on the grid, I think that's not great. If it is fully to the left, that could work.

Leaving this open for further feedback

[2019-10-15 12:23] hidde commented on #20
I've slightly rephrased your issue title, to mean the details section should take up more space on the right. (but they where it is on the left). Please let me know if I'm reinterpreting there.

For context: I'm assuming text should be somewhere between 45-80 characters for readability.

* Robert Bringhurst: 45-75 (see [The Elements of Typographic Style Applied to the Web, 2.1.2](http://webtypogra

[2019-10-15 12:30] hidde commented on #18
Thanks for this feedback.

We will have a place to explain all of these filters: [Selecting Authoring Tools page](https://wai-authoring-tools.netlify.com/authoring-tools/selecting#features). That does not mean that I'm opposed to having a more informative name.

Would you have a suggestion? Ideally we keep word count super small.

[2019-10-15 12:31] vmmiller commented on #20
Hi, Hidde,

No, I meant it stayed in the "new" position but spanned over an additional
column.  Perhaps, leave as you originally had moved it and see if others
feel the same or not.

Cheer,s

Vicki

On Tue, Oct 15, 2019 at 2:23 PM Hidde de Vries <notifications@github.com>
wrote:

[2019-10-15 12:33] vmmiller commented on #22
cool, thanks

On Tue, Oct 15, 2019 at 2:03 PM Hidde de Vries <notifications@github.com>
wrote:

[2019-10-15 12:38] hidde commented on #20
Hi Vicki,

Thanks for the clarification. Did you mean something like this:

<img width="1478" alt="Screenshot with grid overlay where tools column spans full width of grid, 6 columns in total" src="https://user-images.githubusercontent.com/178782/66831868-f64e5500-ef58-11e9-8c2a-49a03821ee9b.png">

(With my designer hat on, I think this would makes the tool listing too wide; with my editor hat on:

[2019-10-15 12:43] hidde commented on #17
Hi Vicki, I've updated the issue title slightly to summarise the issue. Thanks for the feedback and suggested text updates, much appreciated. I suspect others may have thoughts on this intro paragraph too, so am leaving this issue open for further feedback.

[2019-10-15 12:44] #7 closed

[2019-10-15 12:45] #1 closed

[2019-10-15 12:46] hidde commented on #3
Updated title to @slhenry 's suggestion.

Free/paid is now part of the tool, so is 'has public accessibility statement'.

[2019-10-15 12:47] hidde commented on #3
I'll close this now, as the initial concerns are addressed.

[2019-10-15 12:47] #3 closed

[2019-10-15 12:55] vmmiller commented on #20
Yup, that's what I meant. But I do understand your feeling.

On Tue, 15 Oct 2019, 14:38 Hidde de Vries, <notifications@github.com> wrote:

[2019-10-15 12:56] vmmiller commented on #17
Thanks, Hidde!

On Tue, 15 Oct 2019, 14:43 Hidde de Vries, <notifications@github.com> wrote:

[2019-10-16 03:31] slhenry commented on #21
+1 for not over on the right.

Fully to the left is fine.

We want it clearly visible -- even for non-tool vendors, it's good to show that we encourage anyone to submit their tool :-)

Also, screen magnification users could miss it all together if it's floating over there on the right.

[2019-10-16 03:36] slhenry commented on #19
strong +1 from me

I don't like it as a button at all. I think it should be more of an expand-collapse looking control -- e.g., +/- or twistie >

[2019-10-16 03:47] slhenry commented on #20
Personally I strongly prefer for content to use full width and let me choose to make the line width shorter if I want. Yet I know many users don't adjust the window width or zoom or use large text. I won't get into that broader issue for now.

One thing is un-debate-able (I think ;-): At least the section with the two columns must be wider. In my main configuration, I'm getting terrible text wrapp

[2019-10-16 03:53] slhenry opened #31 "Remove "See full list of accessibility features" from every Details section"
I don't think we want this link in each tool detail listing. Instead, make it very clearly linked elsewhere -- probably in the intro and probably also above &/or below that filter section.

[2019-10-16 04:00] slhenry opened #32 "Title full width"
Please let the title take up the full width.

For me, it's breaking into two lines, even though there is plenty of space for it to continue on the same line.

While there is merit to making blocks of text (that is, paragraphs of multiple sentences) shorter line length, that doesn't apply to a stand-alone title. It is awkward and takes more cognitive processing when it breaks unnecessarily.

[2019-10-16 04:03] slhenry commented on #17
+1 to Vicki's suggestion in general -- make the text easier to read and understand for people who land on this page without context. (I didn't review Vicki's specific wording yet)

[2019-10-16 04:07] shawna-slh opened #33 "Disclaimer missing"
+1 to having a short, succinct "disclaimer" at the top with a link to a more detailed disclaimer  lower in the page

(fyi, in the past, EOWG spent quite a bit of time discussing options for this)

however, the more detailed one is missing ;-)

[2019-10-16 04:14] shawna-slh opened #34 "Filter section heading"

[2019-10-16 04:44] slhenry opened #35 "Filtered out clarification"
Some usability studies we did a long time ago on previous iterations of the WCAG QuickRef showed that we need to make it **very** clear when/that/what [SCs/tools] are filtered out -- especially when printed.

Please see what's done in the [Eval Tools List](https://www.w3.org/WAI/ER/tools/?q=wcag-20-w3c-web-content-accessibility-guidelines-20) and [QuickRef](https://www.w3.org/WAI/WCAG21/quickref/)

[2019-10-16 06:04] yatil commented on #33
This should just link to a common disclaimer page that we can use for all such lists.

[2019-10-16 06:08] yatil commented on #32
From what I see from the code, the header uses the full width of the page (until the right edge of the content boxes). Putting the header outside of the main element would mean recoding the page templates. FWIW, I had a really hard time to make it break into two lines with “standard” text sizes. Only on mobile despite having “Draft” take up additional space.

[2019-10-16 06:09] yatil commented on #31
I like to have it in context.

[2019-10-16 06:11] yatil commented on #31
Expanding on it: Many users will just use the tool and not think about finding extra referenced information somewhere else, but as the shorthands are not easy to understand for almost every user, having a legend handy right there is nice. (I could even see a slide-over panel from the right, so you could cross reference the legend. But that would be scope creep :-D)

[2019-10-16 06:12] yatil commented on #28
FWIW I LOVE the corporate ipsum and I have heard from people outside of W3C who loved it, too.

[2019-10-16 06:14] yatil opened #36 "Type of Tool – Radiobuttons?"
I wonder if there is a good use case for searching for (for example) Content Management Systems and Wikis. (I assume that would show CMS and wikis, not tools tagged with both, CMS AND wiki.)

[2019-10-16 06:18] yatil opened #37 "Make filters easier to scan"
<img width="335" alt="Screen Shot 2019-10-16 at 08 15 07" src="https://user-images.githubusercontent.com/58862/66892899-21828400-efed-11e9-897e-95cc300c37f9.png">

Especially with filter criteria that has two lines, it feels hard to scan. I’d suggest to add some spacing to the filters or add some light borders between the options to guide the eye:

<img width="335" alt="Screen Shot 2019-10-16 at 0

[2019-10-16 06:27] yatil opened #38 "Make Expand/Collapse buttons consistent with other WAI properties"
- [x] We usually have a + in buttons that open something and a &minus; in buttons that close something. – Editor’s discretion, but I think it would be nice to have consistency :-)
- [x] The button does not stay “pressed” visually when the expand/collapse is opened and the focus moves away. This should just be a `details[open] summary { }` CSS styling away from being fixed.

I think we should stand

[2019-10-16 06:33] yatil commented on #20
Well, if the section for the “two columns must be wider”, it will produce the [second screenshot in Hidde’s comment](https://github.com/w3c/wai-authoring-tools/issues/20#issuecomment-542184856) because there is no space left then for widening the details column anyway.

I feel that a big gap will be an issue for zoom users and look awkward for most people. I like how readable this is. Having short

[2019-10-16 06:34] yatil commented on #24
+1

[2019-10-16 06:39] yatil commented on #17
-1 I find position translates that this is important text. Making it longer and/or bigger just pushes the content down the page, for which we always get push back.

(That said, I’d be open to bump up the text size for the whole WAI Website 16px – in relative units, of course, feels tiny in 2019 :-D)

[2019-10-16 06:51] yatil opened #39 "Improve responsiveness"
Editor’s suggestion: On mobile when opening it, I only see the intro/disclaimer and the top of the filtering list. Might be good if both was expandable or having a link to the tools.

- [x] The spacing of and around certain items needs some more polish in certain areas (Button spacing).
- [x] The tool info should be one column on small screens: <img width="335" alt="Screen shot of two columns, mak

[2019-10-16 07:14] yatil opened #40 "Accessibility Features suggestions"
Summary:

- ~Visually indicate that 'Not supported' is part of accessibility features and that those two are separate from the 'meta' info (including license, cost model, etc)~ to be continued in #49)
- [x] Clearly mark vendor comments
 ~Open more info about accessibility features in new tab~ (fixed in https://github.com/w3c/wai-authoring-tools/issues/31#issuecomment-553924879)

I think the “Acces

[2019-10-16 14:22] slhenry commented on #32
fixed https://github.com/w3c/wai-authoring-tools/issues/22#issuecomment-542178159 :-)

[2019-10-16 14:22] #32 closed

[2019-10-16 21:20] slhenry commented on #27
Thanks, Hidde. This helps!

One thing missing in the second and third listing:  the "Not supported or applicable: " list is incomplete.

[2019-10-16 21:40] slhenry commented on #33
Not sure whether or not I agree.

The disclaimer is really important. I guess people would be less likely to click on it if it goes to another page.

Also, I think we want it to appear when these pages are printed.

[2019-10-16 21:50] shawna-slh opened #41 "visual design and text sizes"
The different text sizes bother me. I spent some time trying to figure out why and provide suggestions. I looked around the rest of the WAI site content & CSS for other places where the main content uses different text sizes. (I think only a couple and not primary text - except other tools list) I also looked at the QuickRef and the Eval Tools list.

I was actually a bit surprised to see that the

[2019-10-16 21:57] slhenry opened #42 "in Details, group list items into 2"
I think it would be better usability to group the list items into 2 like the filters:

Accessibility for content editors (editing experience)
* ...
* ...

Accessibility for end users (output)
* ...
* ...

or, maybe a shortened version, e.g.,
For content editors
For end users
_or_
Editing experience
Output

[2019-10-17 07:19] yatil commented on #33
I think it would make sense to have a really short summary on the page that then links to the “Disclaimer for Vendor-Submitted Content”. It would make it easier to identify the same types of disclaimers, so people don’t have to worry about differences between resources.

If the summary is really good, they would not have to unless they are interested in the exact legalese. I think it could remove

[2019-10-17 15:35] iadawn opened #43 "Layout does not work in Edge and IE"
Much as I would love to be using a different browser, I am limited in my work environment. Unfortunately this has highlighted that the current version does not render well in Edge or IE 1

![authoring_tools_edge](https://user-images.githubusercontent.com/2444840/67024332-23873880-f0fc-11e9-8c44-a848630d079c.png)
![authoring_tools_ie](https://user-images.githubusercontent.com/2444840/67024333-23873

[2019-10-17 16:01] hidde commented on #43
Thanks, this is a known issue, they don't support some of the CSS properties I've used, this will be addressed in the version that goes live.

[2019-10-17 18:45] vmmiller commented on #17
Brainstorming following the reactions to adding more text, positive for some (by making the page more informative) and negative for others (by pushing the Browse Tools below the fold):

Currently, the page has two functions:
- Search/Browse for tools
- Submit a tool

I feel it important to make these two functions clear. So, another idea, perhaps, we need a landing page which links off to
- Search

[2019-10-18 08:33] hidde commented on #42
Good point! Especially if the list is as long as having all the features.

I can't make my mind up between talking about users ('for content editors'/'for end users') or what the features affect ('editing experience'/'output'), and am tempted to have both.

Do you have a preference?

[2019-10-18 08:45] iadawn commented on #43
The problem is that this makes it difficult for me to comment on the resource. I only have access to Edge and IE at work. I do have an opportunity to review from home, but that is only on Friday mornings.

[2019-10-18 08:51] hidde commented on #43
Ah, I am sorry to hear that! Sadly, there is no “quick fix”., but will see if I can try and address it earlier than before live.

[2019-10-18 08:56] eoncins commented on #42
+1 to Slhenry suggestion for group list depending on type of user.

[2019-10-18 08:57] iadawn opened #44 "Focus styling"
For editors discretion, also this might have much broader implications.

The focus indicator is generally a dark blue outline. I wonder if a more visually salient colour could be used. Gov.uk have a gold outline for focus styling on form elements, and a full block for links. This makes the elements much more visually salient.

I appreciate that this might impact on other resources, but if this is

[2019-10-18 08:59] iadawn opened #45 "Add Pagination"
It is not clear what pagination will look like as there are only 9 tools presented. What is the design solution for this?

[2019-10-18 09:00] iadawn opened #46 "Indicate total number of tools"
Related to #45, the total number of tools in the library is not indicated.

[2019-10-18 09:11] iadawn opened #47 "Terminology in filters"
When used as filter items the short form descriptions of ATAG criteria sometimes do not make sense.

Most particularly:

* Non-web-based functionality is accessible
* Enough time
* Alternative content available to editors
* Preserves accessibility information
* Accessible content production is possible
* Editors guided

[2019-10-18 09:12] hidde commented on #34
Are you suggesting the filter section should have a heading?

I'm not opposed to it, it could probably benefit users navigating by heading, but would suggest we don't display it visually, as it would take up space, while, arguably, being redundant (because the section looks sufficiently like filters).

[2019-10-18 09:15] iadawn opened #48 "Styling of tool name and vendor suggest that they are links"
Taking more time to look at them it is clear that they are not. However, while I was working through I clicked on the tool name thinking I would access more information about that tool specifically or (as in Evaluation Tools List) it would go to the tool home page.

[2019-10-18 09:18] iadawn opened #49 "Improve information hierarchy in tool listing"
When the details for an entry are revealed the accessibility features appear before the details of the tool. I think this should be reversed. In terms of information hierarchy it makes more sense that the summary description of the tool is followed immediately by the details (particularly website link) and then the accessibility features.

[2019-10-18 09:19] hidde commented on #48
Thanks, Kevin.

I wonder if it makes sense to remove the 'Website' entry under 'Details', and just make the name of the tool a link to the website of the tool.

That would reduce the amount of info to digest in 'Details' , while also making the tool name work as you (and I suspect many users) would expect.

[2019-10-18 09:24] iadawn commented on #31
Was thinking about this, and for my small brain and memory, and because some of the accessibility feature short descriptions are unclear, I might even suggest linking every feature to it's description somehow!! Ok, that is waaay too much, however, there is an issue here I think.

This might be because some of the features are unclear and that might address the problem. However, at the moment I am

[2019-10-18 09:28] iadawn opened #50 "Summary and description needed?"
When submitting a tool, a description can be added. This (I am assuming) is then used when displaying the list of tools. It is highly likely that vendors will not confine themselves to a couple of lines to describe their tool.

I would suggest including a summary and a description field. The summary encourages vendors to provide limited information, or even imposes a character limit. The summary i

[2019-10-18 09:32] hidde commented on #29
All of ATAG's success criteria are now in. This needs further improvements in how it is displayed, will open further issues for that.

[2019-10-18 09:32] #29 closed

[2019-10-18 09:33] iadawn opened #51 "Non-text Contrast"
Form element focus styling includes a pale blue block border around the element. The contrast between this and the background colour is 1.1:1, which is below 3:1.

Does this need to be higher?

[2019-10-18 09:37] iadawn opened #52 "Privacy statement"
The form captures personal information. In the UK at least, I believe this would require a privacy statement.

Happy to be told wrong :)

[2019-10-18 09:41] iadawn opened #53 "Link to Success Criteria in submit a tool form"
When adding a tool the Accessibility features section includes a reference to the ATAG success criteria, for example 'See also: A. 1.1'.

This should link to the ATAG Success Criteria.

[2019-10-18 09:45] iadawn opened #54 "Errors aren't reported if the section is closed"
On the submit a tool form sections can be expanded and collapsed. If a section is collapsed and it contains an error then no information will be displayed to the user.

**Desktop (please complete the following information):**
 - OS: Mac OSX
 - Browser Brave
 - Version 0.69.132 Chromium: 77.0.3865.90 (Official Build) (64-bit)

[2019-10-18 09:46] #15 closed

[2019-10-18 09:48] iadawn opened #55 "Errors are reported one by one"
If there are multiple errors the user must find and fix them individually when submitting a tool.

Ideally, all errors should be reported at once.

[2019-10-18 09:53] iadawn opened #56 "400% zoom details labels too broad"
The space allocated for the details label seems to be more than the content. This is forcing the content to be more squashed than is necessary.

![image](https://user-images.githubusercontent.com/2444840/67084706-5fbaa780-f195-11e9-8ba9-678118c2eac3.png)

[2019-10-18 09:53] hidde commented on #24
This was address in 815630b , closing the issue.

[2019-10-18 09:53] #24 closed

[2019-10-18 09:54] iadawn opened #57 "Remove or edit a tool"
How would I, as a tool supplier, remove or update a tool entry?

[2019-10-18 10:02] hidde commented on #17
I've made the intro text slightly larger, and I think this makes it better.

For now I have not changed the text, because it makes it significantly longer. The more words we use there, the less space (both cognitive space in user's heads, and visual space in the design) is available for the primary purpose of the page: browsing and filtering authoring tools.

If we feel we should explain more, I'd

[2019-10-18 10:18] hidde commented on #55
We are currently only using validation as it is built in to the browser.

Agreed grouping errors would be ideal and addresses accessibility and usability needs. It would require significant time to build.

[2019-10-18 10:19] hidde commented on #52
I think you're absolutely right. Adding for EOWG discussion, as I suspect we may have dealt with this before in other places.

[2019-10-18 10:21] hidde commented on #23
I'll add the rationale behind this design: for me, the name of the tool is primary, the name of the vendor is secondary. This contrast is implemented visually by using a smaller size and decrease in font weight ('regular' instead of 'bold').

I feel when I make the text same size, there is not enough contrast, so that it becomes harder to scan.

Screenshot for reference:

<img width="701" alt="too

[2019-10-18 10:25] hidde commented on #20
Please add a screen capture, happy to make your text wrapping less terrible, we need this to work across all viewports including yours.

[2019-10-18 10:30] hidde commented on #21
Moving it to the left makes it less visually distinct. I agree we should not have parts of the interface be far away from everything else, for screen magnification users, but I don't think it actually _is_ far away.

In current design the left has one purpose: get people to understand where they've ended up. The right has another purpose: call people to action. If we have both of those things on t

[2019-10-18 10:59] iadawn commented on #48
I think I would agree.

[2019-10-18 11:00] iadawn commented on #43
Appreciate that. I will see if I can find different times to do any work that requires me to comment on this tool specifically.

[2019-10-18 12:23] hidde commented on #36
Now that you say it, I think it is an unlikely use case.

On the other hand, is there harm in leaving open the possibility?

[2019-10-18 12:24] hidde commented on #53
Agreed. Adding this to my to do list… 

[2019-10-18 12:27] hidde commented on #51
I suppose it does, thanks for verifying this contrast. These styles are WAI website wide, so if we address it it will be everywhere.

Looping in @yatil and @slhenry: should we update focus in our WAI form styles? (if yes, should I close this issue and open one in wai-website-theme?

[2019-10-18 12:29] yatil commented on #51
Yes. We never had a design for forms and everything we have right now is improvised/browser default. Every addition is very welcome from my side.

[2019-10-18 12:29] hidde commented on #50
I like the idea of imposing a character limit, it would level the playing field and give each tool the same opportunities.

I wonder if a full description is needed though? Alternatively, the tool's own website can serve as a full description for our character-limited summary?

[2019-10-18 12:36] hidde commented on #51
Thanks for the context, @yatil. In that case I can propose some tweaks to address @iadawn's comment. Adding this to the 'Backlog'.

[2019-10-18 12:37] hidde commented on #48
Adding it to my to do list!

[2019-10-18 13:56] yatil commented on #50
I would just use one character-limited field. If we have a longer field, people will abuse it with marketing/keyword stuffing and it also means it is much harder to review.

[2019-10-18 14:00] slhenry commented on #50
Also, in the Submit a Tool, provide good guidance to help them provide a good, clear, descriptive description (and avoid market-eze!).

[2019-10-18 18:10] hidde commented on #50
This was discussed at EOWG today, the group leaned towards having a summary field only and adding a character limit.

[2019-10-22 07:53] hidde commented on #39
I have updated the tool info to display as one column, and become two columns only when viewport is wider than `30em` .

[2019-10-22 08:10] #42 closed

[2019-10-22 08:14] hidde commented on #42
I have restructured the data to allow for this feature request and displayed the data as requested.

It now looks like this:

<img width="415" alt="two lists of features with a heading above each" src="https://user-images.githubusercontent.com/178782/67268305-5f335100-f4b4-11e9-9011-5b3832fb86ac.png">

It is a lot of bold, will make it less bold while keeping the visual hierarchy / scannability.

[2019-10-22 08:19] hidde commented on #42
Have unbolded feature names. To still have some difference between description and feature name, I have made comments display in italics.

<img width="480" alt="heading with two features, each displayed in regular font weight with description in italics" src="https://user-images.githubusercontent.com/178782/67268601-2778d900-f4b5-11e9-8bf3-74fb2e15d159.png">

[2019-10-22 14:26] hidde commented on #37
I have tried a few different things including a subtle border in between, but have landed on this solution: double the amount of spacing in between, which looks similar (the same?) as in your last screenshot.

Feel free to reopen if you feel it is not quite right yet.

<img width="306" alt="List of accessibility features with spacing in between" src="https://user-images.githubusercontent.com/17878

[2019-10-22 14:26] #37 closed

[2019-10-22 14:35] hidde commented on #48
This has been addressed in 7353b19.

Note, not all tools have a website (in my made up data, anyway), so I have underlined those that do. This means for some tools, the name is a link and underlined, for some tools it is not.

Closing this issue for now, please do feel free to reopen if you feel the solution I've provided is suboptimal.

[2019-10-22 14:35] #48 closed

[2019-10-23 07:37] hidde opened #59 "Impose character limit on product summary"
(As discussed in #50)

[2019-10-23 07:38] hidde commented on #50
Opened task #59 to address this issue, closing this discussion for now.

[2019-10-23 07:38] #50 closed

[2019-10-23 07:40] hidde commented on #45
Adding this to backlog (cc @nitedog).

In the first iteration, we will likely have less than 9 tools and no pagination will be needed. That makes me think we could launch without this feature and add it in a later version.

[2019-10-23 07:42] hidde commented on #46
It is indicated, at the top it says “Showing 9 tools”, where 9 is the total number:

Screenshot:

<img width="279" alt="Showing 9 tools" src="https://user-images.githubusercontent.com/178782/67369479-5eb0be00-f579-11e9-8828-a2532aeeb065.png">

Once more filters are selected, that number will not be the total number, but i think that is what people would expect?

[2019-10-23 07:47] hidde commented on #49
Thanks for this idea.

Details used to be above features, but I have since changed it, as I believe the accessibility features are more important than the “meta” data.

You're saying “particularly website link”, which I think is a great point… maybe that has been addressed sufficiently now that [we have made the title a link to the website](https://github.com/w3c/wai-authoring-tools/issues/48)?

L

[2019-10-23 07:48] hidde commented on #47
(edited your comment because somehow the 'Enough time' did not show as a bullet item)

[2019-10-23 08:00] hidde commented on #47
Thanks @iadawn,  this is great feedback. These are all based on [ATAG 2](https://www.w3.org/TR/ATAG20), but short form, as you say and can use improvement.

I'm very open to suggestions to make them better. I also hope to simultaneously address this issue also by linking to [the page with explanations of the features](https://wai-authoring-tools.netlify.com/authoring-tools/selecting#features).

[2019-10-23 08:31] hidde opened #60 "(Print only) Display selected filters"
As suggested by @slhenry in #35, display what the selected filter criteria are, and show this only in the printed version.

[2019-10-23 08:32] hidde commented on #35
In this, would X be all tools in the current selection and Y all tools that are available in total?

I prefer how it currently is, displaying just the total of tools currently displayed. Less cognitive load.

In theory, yes, we can have that, given that there is time to build and test. I'll have create a separate issue for that (#60) so that we can plan for it separately.

[2019-10-23 08:37] hidde commented on #60
Note that this already exists currently, as the checkboxes convey a selected state which also gets printed (it seems, have tested in a few browsers).

Arguably, display this information separately would be useful information for any view, not just the print version?

I like the suggestion, but would like to suggest we do this in a later iteration. (cc @nitedog)

[2019-10-23 08:39] hidde commented on #35
See also #46

[2019-10-23 08:55] hidde commented on #41
We have discussed this in EOWG, where I suggested to improve visual distinction between the filters (which has a smaller font size, to reflect it is lower in hierarchy) and the tools list (which has the regular font size, to reflect that it is regular in hierarchy).

I have done this by putting a border between filters and the tools list, so that it is clearer that these are distinct parts of the

[2019-10-23 08:59] hidde commented on #31
We discussed this in EOWG on Friday, suggestions from that discussion:

* Turn each feature into a Show/Hide that expands a definition (Hidde to propose visual design for this)

If anyone has other suggestions, feel free to add them here.

[2019-10-23 09:06] hidde commented on #18
Closing this issue, so that we can discuss it in the broader issue #47.

[2019-10-23 09:06] #18 closed

[2019-10-23 09:07] hidde commented on #47
In #18, 'Enough time' was also flagged.

[2019-10-23 09:10] hidde commented on #51
Have filed this in https://github.com/yatil/wai-website-theme/issues/5, closing the issue in this repository, as it is outside of this website's scope.

[2019-10-23 09:10] #51 closed

[2019-10-23 09:25] hidde commented on #40
I have added a checklist to the top with part of the issues. I left this out:

What about making 'Accessibility Features' a link here (that opens in new window)?

Also related to https://github.com/w3c/wai-authoring-tools/issues/49

This means each listing will have 23 features, and especially if many of them have comments (which is likely as we expect a lot of partial support).

I'm usually not t

[2019-10-23 09:43] hidde commented on #33
I think having a "Disclaimer for Vendor-Submitted Content" page would be great, and have changed the link text in the Authoring Tools List to be exactly that text. I think it says in very few words what we need.

The user need for having a disclaimer, I think, is to be sure users of our lists can trivially figure out that this content is not W3C-vetted/endorsed and that it is vendor-submitted. And

[2019-10-23 09:50] hidde commented on #39
For spacing around items, I have assumed that this is mostly about the spacing between Filter button and tools list. I [addressed this in issue 41](https://github.com/w3c/wai-authoring-tools/issues/41#issuecomment-545342150).

Will open a separate issue for expandable/linking to tools on small screens, I think it is very valid, but not sure how to solve it best yet (I think we may want to open fil

[2019-10-23 09:50] #39 closed

[2019-10-23 09:53] hidde opened #61 "Filters take up a lot of space on small screens"
On small screens, the filters take up a lot of space, as reported in #39.

Possible solutions:

* link to tools from top of page
* make filters collapsable
* a modal overlay for filters? 😨

I think current is acceptable and usable, but want to acknowledge there is lots of room for improvement.

[2019-10-23 09:57] hidde commented on #56
Thanks for filing this.

I am happy to report that I've been able to address this in https://github.com/w3c/wai-authoring-tools/commit/058580b6f53f6ec4b36c11c183405736f8b25d21. Solution is to stack this information, which key and value (e.g. “License” and “MIT”) each on their own line.

[2019-10-23 09:57] #56 closed

[2019-10-23 10:00] hidde commented on #5
This functionality has been taken out of the site for the first version, as we have no process in place to process feedback, and will for now deal with it on a case by case basis.

[2019-10-23 10:00] #5 closed

[2019-10-23 14:12] hidde commented on #23
Suggested solution: keep as is, with vendor slightly smaller than name of tool.

[2019-10-23 15:26] HelenBurge opened #62 "Authoring Tool Clarification List"
Adding the starting point of a Authoring Tool clarification list to ask for feedback on the definitions and missed items.

1.	Content management system (CMS): software that helps users create, manage, and modify content on a website without the need for specialized technical knowledge.
2.	Learning management system (LMS): software application for the administration, documentation, tracking, report

[2019-10-23 15:27] HelenBurge commented on #4
Added a new task with high level list (no actual brands used): https://github.com/w3c/wai-authoring-tools/issues/62

[2019-10-30 08:28] yatil commented on #37
Looks good!

[2019-10-30 08:34] yatil commented on #31
I don’t feel like having a show/hide with every item is a good idea. First, it will blow up the page size. Second, it will make it even harder to scan. Also this resolution seems to be the exact opposite of what this issue was initially opened for (remove duplication).

[2019-10-30 09:00] yatil commented on #40
Would be ok for me.

Good considerations… 23 seems a lot with comments. I could see making the comments expand/collapse, but that would introduce more complexity., so I guess your initial suggestion on how to handle it is fine, really.

(Not a big fan of tabs if we can avoid it. )

[2019-10-31 10:22] iadawn commented on #31
I agree with @yatil in that this would probably be way to much. I think just having a link in the header is way too little. I wonder if there is an option to include a link to the relevant section (Accessibility for content editors or Accessibility for end users) in the left hand filter panel.

There aren't actually that many Success Criteria and the Features List page is a good short summary so I

[2019-10-31 10:36] hidde commented on #31
I like the suggestion of including it in the filters rather than in the Details section.

Wording would matter a lot, I think… how can we best phrase it so that it is immediately clear that it goes to a list of features and their descriptions? Brainstorming:

<img width="261" alt="content editor features explained" src="https://user-images.githubusercontent.com/178782/67939348-a5359680-fbd1-11e9-8

[2019-10-31 10:38] iadawn commented on #31
Icon would get my vote, only because it is nicely succinct

[2019-10-31 10:43] hidde commented on #31
And we could make it appear alongside other feature listings, i.e. the one that is in the Details panel.

<img width="665" alt="" src="https://user-images.githubusercontent.com/178782/67940200-82a47d00-fbd3-11e9-8fd9-58cb9d9f5abe.png">

[2019-10-31 10:46] yatil commented on #31
Icon would work for me.

[2019-11-01 13:01] cochfarf opened #63 "Radio buttons for Cost model are not working correctly"
[… @yatil removed non-filled out issue template, the actual issue is below …]

[2019-11-01 13:04] cochfarf commented on #63
The Cost model radio buttons are not grouped correctly so that only one can be selected at a time. The name attributes are all unique in the code. If multiple cost models can be selected then they should be checkboxes since once selected the radio buttons can't be unchecked the way they are now.

[2019-11-07 09:07] yatil commented on #61
I think it’s ok. We use an expand/collapse on the policies page: https://www.w3.org/WAI/policies/

[2019-11-07 09:19] yatil opened #64 "[minor] Add (editing experience) and (output) to detailed view"
Currently the headings are _“Features for content editors”_ and _“Features for end users”_.

In the filter bar on the left, it says _“Accessibility for content editors (editing experience)”_ and _“Accessibility for end users (output)”_.

I think it would be good to wither use the same language in both places (Features for *), I would also encourage to front-load the headings: “Content Editors’ Fea

[2019-11-11 20:27] hidde opened #65 "Create list of examples of CMS plugins"
For each, look at how to categorise into authoring tools list.

[2019-11-12 13:16] hidde commented on #63
Thanks for reporting, this is because I took a shortcut in my template code. Keeping this issue open as it needs fixing at some point.

[2019-11-12 13:29] yatil commented on #36
No harm.

[2019-11-12 13:29] #36 closed

[2019-11-12 13:33] hidde commented on #21
@vmmiller @slhenry How do you feel about this issue given my last comment?

[2019-11-12 13:34] hidde commented on #17
@vmmiller @slhenry Give my last comment, could you share how strongly you feel about this? If you're ok with situation as is, feel free to indicate that, and I'll close this issue.

[2019-11-12 13:55] hidde commented on #20
@slhenry I've provided some research regarding text width / 'leading' above, and additionally, following your comment, looked for research countering my points, but did not find any.

As you say, we don't know how many people will adjust their window widths, but what we do know is that some devices don't allow for it (like tablets). This is an additional reason to set line length to some ideal num

[2019-11-12 13:57] hidde commented on #23
@vmmiller could you please indicate if you are okay with keeping it as is? Please respond on or before Monday 18 November.

[2019-11-13 17:00] slhenry commented on #34
It looks like filters to those who know it's filters. :-)

However, for new people coming to this list without any context, it's not at all clear.

I feel strongly that a visible heading is needed.

[2019-11-13 17:11] slhenry commented on #23
I agree with making the tool name more prominent than the vendor name.

For me, the screen shot above works great. Because tool is first and bold, I focus on the tool name. I can easily ignore the vendor name. (I also note the latest draft has them underlined, so they stand out even more.)

Every instance of different font size, weight, style, etc. adds visual complexity.

![image](https://user-im

[2019-11-13 17:13] slhenry commented on #17
Please leave it open. Sorry I haven't been able to get to it.

[2019-11-13 17:16] slhenry commented on #20
I apologize that I will not be able to comment by Monday.

[2019-11-13 17:19] slhenry commented on #27
I was hoping you could easily add it in the non-working prototype. If it takes less then 20 minutes or so, please do.

[2019-11-13 17:22] slhenry commented on #46
I would expect that when filters are applied, it would say: " Showing X of X tools."

If that is the case, then I think we're all good. ;-)

[2019-11-13 17:29] slhenry commented on #49
@hidde In response to ideas discussed today, if we're going for tabs, I think they should be by status --
(**not** "Accessibility for content editors (editing experience)" and "Accessibility for end users (output)") --

although not sure the groupings -- maybe:
* Supported
* Partially
* Not Supported
* NA or Not Sure
* About

but that's a lot of tabs :-(
so maybe:
* Supported
* Not or Partially (w

[2019-11-14 10:29] hidde opened #66 "Indicate both filtered tools and total of tools"
As suggested by @slhenry, indicate how many tools are shown, and if it is a subset, also how large the subset is.

Example: if there are 20 and they are all shown:

Example: if there are 20, but filters have reduced the set to 12:

[2019-11-14 10:30] hidde commented on #46
It is not currently showing that, but I'll take your comment and Kevin's thumbs up as the group's inclination towards this and have created a task for myself to implement this.

Have opened task #66 for myself and added to To Do, closing this issue now.

[2019-11-14 10:30] #46 closed

[2019-11-14 10:31] hidde commented on #27
It takes much more than 20 minutes. Closing this issue, this will automatically be fixed when there is real data.

[2019-11-14 10:31] #27 closed

[2019-11-14 10:45] hidde commented on #34
My assumption is those who don't know what filters are, will know it without (visually) explicitly saying they are filters.

Filters are extremely common on the web, and people use them for tasks like booking travel or buying stuff and more. Arguably, the group of people who are looking for accessible authoring tools are _a subset of_ and _more tech savvy_ than the group of people that recognises

[2019-11-14 11:24] #23 closed

[2019-11-14 11:24] hidde commented on #23
I've addressed this and made the vendor name the same size as the tool name.

[2019-11-14 11:29] #64 closed

[2019-11-14 11:29] hidde commented on #64
Thanks, that's a great idea, consistency and front loading should aid usability here. Have addressed

[2019-11-14 14:56] #31 closed

[2019-11-14 14:59] hidde commented on #31
I have added this with the icon. Note the icon is slightly different from screenshot above, the new one is from FontAwesome (where most of our other icons are from).

![](https://user-images.githubusercontent.com/178782/68868315-9eda0b00-06f7-11ea-8a6d-10d9e811215e.png)

[2019-11-14 15:30] hidde commented on #40
Update: “Accessibility features” is now the info icon as discussed in https://github.com/w3c/wai-authoring-tools/issues/31#issuecomment-553924879.  Have removed from checklist above.

[2019-11-14 15:34] hidde commented on #40
Closing this issue: what remains is how to organise the 23 criteria, and we're leaning towards tabs  in #49. Continuing that part of this issue there. Thanks for the comments here!

[2019-11-14 15:34] #40 closed

[2019-11-14 15:36] hidde commented on #35
The print issue is being addressed in #60.

The ensuring that we have “Showing X out of Y” is happening in #66 .

That leaves us with no work left for this issue, so I am closing this.

[2019-11-14 15:36] #35 closed

[2019-11-14 15:43] hidde commented on #49
Cool, agreed we should not have too many tabs… and I like your last suggestion (what would go into each tab). Not a huge fan of the last two names, but my English vocab is limited haha, so not sure what they should be… “About” is kind of “Meta info” (but that's much worseI think?). I'll stick with the names for now and trust on all of us to improve them if we can.

Removing from agenda and EOWG in

[2019-11-14 15:46] hidde commented on #17
Ok, will leave 'waiting for input' tag on for now.

[2019-11-14 15:52] slhenry commented on #66
[minor]

instead of:

no "out":

[2019-11-14 15:54] hidde commented on #66
Thanks, that's better!

[2019-11-14 16:02] hidde commented on #38
I totally agree, just fixed. (The difference between mine and the others was that my `<summary>` did not contain children, just text. So there nothing to attach the +/- to.)

Arguably, it now looks more beautiful, and more in line with rest of WAI site.

![screenshot of header with plus and minus sign](https://user-images.githubusercontent.com/178782/68873783-6be84500-0700-11ea-847b-60a0ad34b8ed.p

[2019-11-14 16:02] #38 closed

[2019-11-14 16:05] hidde commented on #19
Apologies, @vmmiller  and @slhenry , I somehow missed this issue.

I just updated the details button to address https://github.com/w3c/wai-authoring-tools/issues/64, it now looks (and is) a standard WAI expand/collapse.

Please let me know if this addresses your issue!

[2019-11-14 16:28] slhenry commented on #34
I note the filters and the list also need h2s structurally

https://validator.w3.org/nu/?doc=https%3A%2F%2Fwai-authoring-tools.netlify.com%2Fauthoring-tools%2F&showoutline=yes#headingoutline

I think the list h2 can be not visible

[2019-11-14 16:32] slhenry commented on #19
+1 to the [+]

-1 to it being larger font than the surrounding text

-1 (I think) to it being a heading (probably could change my mind on that easily enough :-)

[2019-11-14 16:34] yatil commented on #64
Thanks, Hidde!

[2019-11-14 16:34] slhenry commented on #21
Not convinced either way yet. :-) Would like to gt more input from EOWG.

[2019-11-14 16:35] yatil commented on #19
LGTM

[2019-11-14 16:35] vmmiller commented on #19
+1 to the "+  Details"

[2019-11-14 16:56] hidde commented on #34
Good point, will fix!

[2019-11-14 16:58] hidde commented on #19
@slhenry [The example](https://wai-website-theme.netlify.com/components/excol/single) for ex/col has a heading, I am not sure what the context of that is but copied it.

Wil decrease font size, it looks better.

[2019-11-14 17:01] hidde commented on #34
Headings now exist… maybe heaving a 'Filters' heading can be agenda item for EOWG on Friday, @slhenry ? (Have added it under +agenda label for this reason)

[2019-11-14 17:04] hidde commented on #19
Closing this issue, thanks all!

[2019-11-14 17:49] slhenry commented on #34
Would need to coordinate that with Co-Chairs, and I think they are not available this afternoon.

[2019-11-14 18:02] bakkenb commented on #34
Thanks for working to organize this Hidde. I agree with Shawn that we need to work on this a bit more before bringing back to the group. Work on the static examples of the tabs and other solutions that you feel would be appropriate and lets discuss on Wednesday at planning.

[2019-11-14 19:08] slhenry commented on #19
Even though the ex/col example is a heading, you do not have to make it a heading.

Maybe it makes sense structurally for it to be a heading, maybe not? Please consider and provide brief justification for whichever way you suggest. :-)

[2019-11-14 22:08] bakkenb commented on #31
I like the icon idea too. Clean and expected outcome of "further detail to help you understand."

@yatil, Do we have some sort of design standard for this type of icon usage on the WAI site? Seems like it should be consistent with current use if we already have this implemented in other resource(s).

[2019-11-14 22:24] bakkenb commented on #17
I know this is a completely different issue, but Eric opened the can of worms...

I officially +1 this idea!

[2019-11-14 23:37] bakkenb commented on #31
I would suggest we use the same design if we still like it.

[2019-11-15 10:48] yatil commented on #31
Those are the same icons IIRC. @bakkenb We just use FontAwesome where we can, as Hidde said.

[2019-11-15 10:50] yatil commented on #31
BTW: Commenting on closed issues means some people are not really notified. If it is an issue please reopen the issue or create a new issue if it is something different.

[2019-11-15 11:05] yatil commented on #19
I reopened the issue so it does not get overlooked. Please do not comment and not reopen issues (unless an answer/addressing the issue is optional).

[2019-11-18 13:01] hidde commented on #19
@yatil thanks

@slhenry I think it structurally makes sense for it to be a heading, it has the correct level and believe it would be a useful thing to navigate to for folks who want to use headings shortcuts in their assistive tech. I also double checked that is allowed per spec for `summary` to contain a heading, and yes, [it is](https://html.spec.whatwg.org/dev/interactive-elements.html#the-summ

[2019-11-18 21:47] hidde commented on #49
Proposal for tabs: https://5dd2a54fa36b450008a380e1--wai-authoring-tools.netlify.com/authoring-tools/

Features:
- for optimal space usage, on small screens tabs are horizontal, on desktop they are vertical
- grouped in not too many tabs (as suggested by @slhenry)

![](https://user-images.githubusercontent.com/178782/69096572-00320f00-0a55-11ea-9f5d-fb2feaf318df.png)

[2019-11-20 20:48] hidde commented on #34
Unrelated to this issue, which is about the 'filter' heading, but just for completeness sake, I have added a proposal for tabs here: https://github.com/w3c/wai-authoring-tools/issues/49#issuecomment-555224273

With regards to the filter issue: what further work would you suggest? I think we need to choose between:

- having a visible header ‘Filter’ above the filters
- having an invisible header ‘

[2019-11-20 20:53] hidde commented on #41
@slhenry could you please indicate if this problem still persists for you, given that:

* the size difference already existed in other WAI lists
* the two areas are now nicely separated with a vertical line

If not, I'd like to close the issue.

[2019-11-20 20:56] hidde commented on #20
@slhenry If you agree with the resolution, let's close this issue.

If not, do you know when you will be able to comment? It would be helpful in moving the project forward.

[2019-11-20 20:57] hidde commented on #19
@slhenry could you please indicate if you can agree with this justification? I'd like to close this issue if we can, and believe it to be resolved.

[2019-11-20 21:08] hidde commented on #44
Hi Kevin, thanks for this feedback! I've re-filed this issue in https://github.com/w3c/wai-website/issues/200, because, as you say, it has broader implications: the Authoring Tools List does not define a focus style, but inherits it from the WAI styling, changing it would need to happen there.

[2019-11-20 21:08] #44 closed

[2019-11-21 07:21] yatil commented on #44
The current design was agreed during the redesign process. It uses currentColor to ensure 7:1 contrast in most situations. We also have an animation of the outline. The feedback from keyboard and low vision users has been positive so far, I don’t see an urgent reason to re-evaluate this decision.

[2019-11-21 14:36] vmmiller commented on #21
I think it would be good to get more feedback from EOWG on this one.

On Thu, Nov 14, 2019 at 5:34 PM shawn_slh <notifications@github.com> wrote:

[2019-11-21 14:38] vmmiller commented on #23
Sorry for the delay in replying.  Yes, it's fine.

On Tue, Nov 12, 2019 at 2:57 PM Hidde de Vries <notifications@github.com>
wrote:

[2019-11-21 15:36] hidde commented on #23
Thank you Vicki!

[2019-11-21 21:55] bakkenb commented on #34
Personally, I prefer a visible header above the filters.

[2019-11-22 18:41] #49 closed

[2020-06-29 13:35] shawna-slh opened #70 "category and/or filter for EPUB"
G.K. pointed out the WordToEPUB free and open source add-in for Microsoft Word

So here is noting that we might want categories and/or filters for EPUB and other things this falls under

[2021-08-30 13:51] shawna-slh opened #71 "consider for types of tools: SVG tools and captions/subtitle tools"
Consider including category and filter for SVG.

[motivation e-mail ](https://lists.w3.org/Archives/Public/public-svga11y/2021Aug/0001.html) from @chaals

[2021-09-15 19:26] shawna-slh commented on #71
Consider including category and filter for captions/subtitles.

https://github.com/w3c/wai-media-guide/issues/181 from @californiakat

[2021-09-16 12:50] nitedog commented on #71
We had not considered this type of detail in the initial [requirements analysis](https://github.com/w3c/wai-authoring-tools/wiki/Requirements-Analysis:-Authoring-Tools-List). We had agreed on the core data being the ATAG requirements, with some additional metadata on things like type of tool, licensing, and such. Possibly some of this can be partially addressed by the "type of tool" category, for

[2021-09-22 13:56] SteveALee opened #72 "Review survey and finalise list of filters, types etc"
Review survey and decide Filters needed for UI

[2022-10-20 15:28] SteveALee opened #76 "Allow Type Of content to be extensible"
In the survey

"The category "Type of Tool" will be extensible. That means that vendors can suggest new options not currently in the list. For example, someone could add tools with new type such as "Document Management System (DMS)", "Video Editor", or "Image Editor". These new options will need to be reviewed manually during the process for submitting new list entries."

For this to work a review

[2022-10-20 15:34] SteveALee opened #77 "Cost Model enhancements"
Is Cost Model the best term? Or confusing? Maybe just cost.

This is complex and may be multiple models per item (checkboxes not radio). Search terms may overlap categories.

Add popup "i" to explain terms

[2022-10-20 15:45] SteveALee opened #78 "Enhance Other field"
May be add VPAT or other accessibility related options.

I'm not convinced people will want to search on these though. I guess not all fields need to have filters?

[2022-10-20 15:52] SteveALee opened #79 "Simplify and explain the various ACT filter values"
Maybe make optional filters or not filters? And add "i" explanations.

"There's a lot of detail that I wouldn't want to read through in order to filter the results - I'd expect to read this level of detail as I explore the results. However, segmenting "content editor" from "end user" makes absolute sense to call out, since it will even trigger the user to think more specifically about their requir

[2022-10-20 15:59] SteveALee opened #80 "Add "Tool Languages" "Supported Formats" options"
These are likely to be important as they impact the applicability of the results. Language may not even be specifiable - just the support for I18n or not.

There will be potentially large results sets to handle. Depedent on the values provided in results.

[2022-10-20 16:06] SteveALee opened #81 "Implement form submission and integrate features from the course list"
- get submission form working
- get lists working form github PRs
- Define short names for requirements as not provided for ATAG
- check for any features in courses that might be valueable.

[2022-10-20 18:36] shawna-slh commented on #71
I was thinking type of tools -- tools that create SVG, tools that create captions/subtitles. I think that would be a filter, not outside of what was defined in the requirements analysis?

Not a high priority, though.

[2022-10-21 14:37] slewth2 opened #82 "Include date submitted"
Suggestion: Add "date posted" information in details for each Authoring tool on the list
Rationale: Will give users a sense of how up-to-date the list and tool information is, given that the accessibility of the tools can/will change over time.

[2022-10-27 16:13] #71 closed

[2022-10-28 02:33] shawna-slh opened #83 "[ED-low-submission-form] ATAG Report"
Suggestion: Include field for them to provide a link to their ATAG Report, generated from https://www.w3.org/WAI/atag/report-tool/

Rationale: provides consistency of reports. promotes the tool

Level of importance: *Low importance for first iteration or later*

For example, in the Evaluation Tools List, we provide field for them to include a link to their Accessibility Statement and their [ACT Ru

[2022-10-28 21:23] bakkenb opened #84 "[ED-med-data] Change field title"
In the "About the tool" section, for clarity, I would suggest changing "Name" to "Tool Name" for the title of that field. It just makes it more clear that this should not be someone's name, but the name of the authoring tool itself.

[2022-10-28 21:29] bakkenb opened #85 "[HIGH-data] License type selection - should match filter"
On the Authoring Tools List page, the Licensing filter has the following checkboxes:
- Open source
- Commercial
- Enterprise
- Trial or demo available

Shouldn't those also be the options to select from in the submission form? If not, I don't think the filter will work. Right now it is a open text field.

[2022-10-28 22:15] bakkenb opened #86 "[HIGH-UI] No Form Submission Confirmation"
I completed a test submission. There is no confirmation page or modal to let you know that the submission was collected, successful, copy of the data, or anything.

All of the validations worked for required fields and final acknowledgment check boxes, but when I clicked the "Submit Your Tool" button the page just reloaded with a new empty form. Some sort of confirmation needs to be added.

[2022-11-01 17:21] SteveALee commented on #86
Er, what was tried? The current preview is non functional. I am working on getting it to work after any UI updates from Kevin.

[2022-11-01 17:23] shawna-slh commented on #86
Thanks, Steve. Hopefully the UI updates from @iadawn don't impact you getting it to work. :-)

We are hoping to publish and announce the submission for this week!

[2022-11-01 17:28] iadawn commented on #86
@SteveALee my plan was not to change anything in the UI that would have a big impact on the functionality. It should be ok to work on them in parallel.

[2022-11-01 18:22] SteveALee commented on #86
Yup, working in parallel, just more complex than I expected. Submissions should be good to go this week.

[2022-11-03 10:19] iadawn commented on #85
For consistency it may be worth changing the options to match the evaluation tools license options:

![image](https://user-images.githubusercontent.com/2444840/199696326-1363468d-91ac-4e82-b8bd-36d0988e76b3.png)

[2022-11-03 15:04] SteveALee opened #89 "Need a mailing list for evaluation tools"
For now the text in the submission failure page uses - group-wai-list-evaluation-tools@w3.org

[2022-11-03 15:33] shawna-slh opened #90 "URI & nav"
URI for submission form:
**https://www.w3.org/WAI/tools-list/authoring/submit-a-tool**

<hr>

_optional more info:_

Hey @SteveALee Please plan on this for URI for authoring tools list itself:

**https://www.w3.org/WAI/tools-list/authoring**

(and will put new eval tools list at https://www.w3.org/WAI/tools-list/evaluation or maybe https://www.w3.org/WAI/tools-list/eval)

For submission form... hu

[2022-11-03 18:59] shawna-slh commented on #89
I'm not seeing the text of the failure page to see it in context. I'm assuming it should be:

group-wai-list-authoring-tools@w3.org

[2022-11-04 10:01] SteveALee commented on #89
Great, that is what I used

https://raw.githubusercontent.com/w3c/wai-authoring-tools-list/master/content/failure.md

[2022-11-04 10:01] #89 closed

[2022-11-04 10:24] SteveALee commented on #90
done note also

https://www.w3.org/WAI/tools-list/authoring/submit-a-tool/failure
https://www.w3.org/WAI/tools-list/authoring/submit-a-tool/success
https://www.w3.org/WAI/tools-list/authoring/selecting

[2022-11-04 10:25] SteveALee commented on #90
@shawna-slh @iadawn  note the new URIs will be in the latest preview

[2022-11-04 10:27] SteveALee commented on #86
fixed in latest preview - https://wai-authoring-tools-list.netlify.app/tools-list/authoring/submit-a-tool/

[2022-11-04 10:28] #86 closed

[2022-11-04 10:29] SteveALee commented on #84
@bakkenb Thak you. I also spotted that as the preview had two "names" :)

@shawn what casing should be used? I used "Tool name" to match other fields.

[2022-11-04 10:29] #84 closed

[2022-11-04 10:30] SteveALee commented on #82
A date fields is added by the submission process. this need to be displayed in the list

[2022-11-04 10:31] #81 closed

[2022-11-04 10:33] SteveALee commented on #85
Will not add "other" edit field for now as complicated.

[2022-11-04 10:35] SteveALee commented on #85
@iadawn Am going to remove cost model field as they clash - is that OK?

[2022-11-04 10:37] iadawn commented on #85
I wonder if the better field to remove is the free text License field and then just adjust the 'Cost model' field to align to the evaluation tools license field?

[2022-11-04 10:53] SteveALee opened #96 "Comment not in preview"
preview code does not support textarea, only id = description

[2022-11-04 10:54] #96 closed

[2022-11-04 10:55] SteveALee commented on #85
work for me - though edit field for other might be a bit tricky given I have no time :)- not sure

[2022-11-04 11:12] SteveALee commented on #85
Done but left other out completely

[2022-11-04 11:14] SteveALee commented on #85
@iadawn the CSS needs fixing as I had to use a field set (best practice anyway)

[2022-11-04 11:14] iadawn commented on #85
Ok, will take a look in a bit

[2022-11-04 11:17] SteveALee opened #97 "[HIGH submit form] Missing functionality on select a11y features"
looking at the code

https://github.com/w3c/wai-authoring-tools-list/blob/master/_includes/report-feature-support.liquid#L24-L36

it seems the last three radio buttons for each feature should reveal some elements.

This is not working. Is it required?

[2022-11-04 14:42] shawna-slh commented on #90
Hey @SteveALee We haven't decided yet what to do with https://www.w3.org/WAI/tools-list/authoring/selecting
Better if it's not on the WAI website for now. Do you remember where there was a link to it? I can revise that.

[2022-11-04 15:23] SteveALee commented on #90
yes was a link to selecting n submission page - removed link and no longer published

[2022-11-04 15:24] #90 closed

[2022-11-04 15:44] shawna-slh opened #99 "[submission form] footer"

[2022-11-04 16:04] shawna-slh opened #100 "Revised page: Selecting and Using Authoring Tools for Web Accessibility"
Long ago we had this page: **[Selecting and Using Authoring Tools for Web Accessibility](https://www.w3.org/WAI/impl/software)** Looks like the content was put into the [new design](https://w3c.github.io/wai-selecting-authoring-tools/design-develop/authoring-tools/selecting/). It included things like "This document provides information which may help find improved authoring tools and/or work aroun

[2022-11-04 16:16] SteveALee opened #102 "Licence is not required"
need to add the attribute to make required work for radio buttons

[2022-11-04 16:19] SteveALee opened #103 "Accessibility featurs are all a single tab group"
Needs to break up using sepearate field sets

[2022-11-04 16:20] SteveALee commented on #100
link to preview is broken as no longer published - use an old preview or link to source

[2022-11-04 16:36] SteveALee commented on #102
@shawn Fixed on next release

[2022-11-10 14:19] #102 closed

[2022-11-10 14:19] #85 closed

[2022-11-10 14:21] #97 closed

[2022-11-12 20:14] shawna-slh commented on #99
fixed

[2022-11-12 20:15] #99 closed

[2022-11-12 20:19] shawna-slh opened #105 "[submission form] fix hover color"
asap:
* [x] fix or delete breadcrumb
* [x] delete from frontmatter ```doc-note-type: draft```

SLH write:
* [x] add to intro paragraph that they can submit updated information later
* [x] scope (point to overview page)
* [x] explain the see x.x is for ATAG

soon:
* [x] fix GitHub links in Help Improve this Page box by correcting frontmatter
* [x] fix hover color (use same fix as in the submission

[2022-11-30 14:47] iadawn opened #108 "Better grouping in details panel"
The details panel lists out all the items without any grouping. It would be good to group them up for easier reading.

[2022-11-30 14:50] iadawn opened #109 "[List view] Adding a filter causes a bug"
In [list view](https://wai-authoring-tools-list.netlify.app/tools-list/authoring/) if any of the filters are selected the error 'something went wrong' appears.

[2022-11-30 14:54] iadawn opened #110 "[List view] Cost model radio group filter"
In [list view](https://wai-authoring-tools-list.netlify.app/tools-list/authoring/) the cost model is presented as a radio group but they don't appear to be grouped. These would probably be more appropriate to present these as checkboxes to allow for multiple selections and also for deselecting.

[2022-11-30 14:56] iadawn opened #111 "[List view] Clear filters needed"
In [list view](https://wai-authoring-tools-list.netlify.app/tools-list/authoring/) there is no way to quickly and easily clear all applied filters.

[2022-11-30 14:58] iadawn opened #112 "[List view] Feature filters necessary?"
In [list view](https://wai-authoring-tools-list.netlify.app/tools-list/authoring/) I wonder if the features are necessary to filter on. Partly because there are so many and partly because it isn't necessarily clear what would be filtered given that 'Partial' is an option when submitting a tool.